body {
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.search_container {
}

.logo_image {
    max-width: 100%;
    height: auto;
    margin: auto;
}
