.stats, .chart {
    padding-top: 30px;
}

.author {
    padding-top: 15px;
}

.logo_image {
    max-width: 100%;
    height: auto;
    margin: auto;
}

.error {
    color: #f00;
}

.search_form {
    width: 100%;
}

.card {
    padding: 5px;
    margin: 5px;
}

.card:hover {
    border-color: darkcyan;
}