.stats, .chart {
    padding-top: 30px;
}

.author {
    padding-top: 15px;
}

.error {
    color: #f00;
}

.search_form {
    margin-left: 20px;
    width: 100%;
}

.card {
    padding: 5px;
    margin: 5px;
}

.card:hover {
    border-color: darkcyan;
    cursor: pointer;
}

.fa-file-text:hover {
    cursor: pointer;
    color: darkcyan;
}

body {
    margin: 0;
    padding: 0;
}

.logo_image {
    max-width: 100%;
    height: auto;
    margin: auto;
}

table td {
    padding: 4px;
    border: 1px solid #000;
}

.chart .ct-series .ct-bar {
    stroke: #000;
}

#file_icon {
    margin-left: 15px;
}

.snippets {
    display: none;
    position: fixed; z-index: 999;
    left: 0; top: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
}

.snippets p.card {
    display: block; max-width: 720px;
    margin-left: auto; margin-right: auto; margin-top: 100px;
    padding: 10px;
    background-color: #fff;
}

.snippets .icon-close {
    width: 50px;
    position: absolute; left: 10px; top: 10px;
    cursor: pointer;
}
