{% extends "base.html" %}
{% block title %}{{ query }}{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.4/jqcloud-1.0.4.min.js"></script>
{% endblock %}
{% block main %}
    <div class="jumbotron">
        <img src="{{ url_for('static', filename='logo_classic.png') }}"
             class="logo_image"/>
        <h4 align="center">Everything you want to know and most likely even
            more</h4>
    </div>

    {% include "author_form.html" %}

    {% if not error %}
        <div class="row">
            <div class="col-12 text-center">
                <div class="author">
                    <h1>{{ query }}</h1>
                    <span>Citation rating: {{ rating }}</span>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-12">
                <div class="js-wordle wordle" style="width: 800px; height: 200px;"></div>
            </div>
        </div>
        <div class="row stats">
            <div class="col-md-6 text-center">
                <h2>Similar authors</h2>
                <ul>
                    {% for similar_author in similar_authors %}
                        <li>
                            <span>{{ similar_author }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-6 text-center">
                <h2>Common co-authors</h2>
                <ul>
                    {% for coauthor in coauthors %}
                        <li>
                            <span>{{ coauthor.name }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row chart">
            <div class="col-12">
                <h2>Paper count by year</h2>
                <div class="js-years-chart">
                </div>
            </div>
        </div>
        <h2>Papers</h2>
        <div class="row">
            {% for paper in papers %}
                <div class="col-4">
                    <div class="card text-center">
                        <div class="card-block">
                            <h5 class="card-title">{{ paper.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ paper.year }}</h6>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr/>
        <h2>Similar papers</h2>
        <div class="row">
            {% for similar_paper in similar_papers %}
                <div class="col-4">
                    <div class="card text-center">
                        <div class="card-block">
                            <h5 class="card-title">{{ similar_paper.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ similar_paper.year }}</h6>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        {% if keywords %}
            var keywords = {{ keywords|tojson|safe }};
            var wordles = [];
            for (var i = 0; i < keywords.length; i++) {
                wordles.push({ text: keywords[i], weight: ((keywords.length - i) * 100) });
            }
            $(function() {
                $(".js-wordle").jQCloud(wordles);
            });
        {% endif %}
        {% if papers_by_year %}
            $(document).ready(function () {
                drawChart({{ papers_by_year|tojson|safe }});
            });
        {% endif %}
    </script>
{% endblock %}

