{% extends "base.html" %}
{% block title %}{{ query }}{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
{% endblock %}
{% block main %}
    <div class="jumbotron">
        <img src="{{ url_for('static', filename='logo_classic.png') }}"
             class="logo_image"/>
        <h4 align="center">Everything you want to know and most likely even
            more</h4>
    </div>

    {% include "author_form.html" %}

    {% if not error %}
        <div class="row">
            <div class="col-12 text-center">
                <div class="author">
                    <h1>{{ query }}</h1>
                    <span>Citation rating: {{ rating }}</span>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-12">
                <h2>Papers</h2>
                {% for paper in papers %}
                    <div class="search_result">
                        <h5><span
                                class="year">{{ paper.year }}</span> {{ paper.title }}
                        </h5>
                    </div>
                {% endfor %}
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-12">
                <h2>Similar papers</h2>
                {% for similar_paper in similar_papers %}
                    <div class="search_result">
                        <h5><span
                                class="year">{{ similar_paper.year }}</span> {{ similar_paper.title }}
                        </h5>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row stats">
            <div class="col-md-4">
                <h4>Similar authors</h4>
                <ul>
                    {% for similar_author in similar_authors %}
                        <li>
                            <span>{{ similar_author }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Common co-authors</h4>
                <ul>
                    {% for coauthor in coauthors %}
                        <li>
                            <span>{{ coauthor.name }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Keywords</h4>
                <ul>
                    {% for keyword in keywords %}
                        <li>{{ keyword }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row chart">
            <div class="col-12">
                <h4>Paper count by year</h4>
                <div class="js-years-chart">
                </div>
            </div>
        </div>
    {% endif %}
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        {% if papers_by_year %}
            $(document).ready(function () {
                drawChart({{ papers_by_year|tojson|safe }});
            });
        {% endif %}
    </script>
{% endblock %}

