{% if error is string %}
    <div class="row">
        <div class="list-group col-6 offset-3" align="center">
            <p class="list-group-item list-group-item-danger">
                {{ error }}
            </p>
        </div>
    </div>
{% elif error is iterable %}
    <div class="row">
        <div id="authors_list" class="list-group col-6 offset-3" align="center">
            <p class="list-group-item list-group-item-danger">
                Different authors found. Did you mean one of these:
            </p>
            {% for author_name in error %}
                <a style="display: none;"
                   class="list-group-item list-group-item-action list-group-item-success"
                   href="/authors?q={{ author_name }}">{{ author_name }}</a>
            {% endfor %}
            <a href="javascript:void(0)" style="display: none;" id="show_more"
               class="list-group-item list-group-item-action list-group-item-info">
                Show more
            </a>
        </div>
    </div>
{% endif %}
<div class="row" style="margin-top: 10px">
    <div class="col-12">
        <form action="/authors" class="search_form" method="GET">
            <div class="form-group row">
                <input type="text" style="width: 96%" name="q"
                       class="form-control"
                       value="{{ query }}"
                       placeholder="Enter query..."/>
            </div>
        </form>
    </div>
    <!--<div class="form-group text-right">-->
    <!--<input type="submit" class="btn btn-success" name=""-->
    <!--value="I'm feeling lucky"/>-->
    <!--</div>-->
</div>

{% block scripts %}
    <script type="application/javascript">
        $(document).ready(function () {
            var size_list = $("#authors_list a").length - 1;
            console.log(size_list);
            var x = 5;
            $('#authors_list a:lt(' + x + ')').show();
            if (size_list > x) {
                $('#show_more').show();
            }
            $('#authors_list a:lt(' + x + ')').show();
            $('#show_more').click(function () {
                x = (x + 5 <= size_list) ? x + 5 : size_list;
                $('#authors_list a:lt(' + x + ')').show();
                if (x === size_list) {
                    $('#show_more').hide();
                }
            });
        });
    </script>
{% endblock %}