<div class="row">
    <div class="col-12">
        {% if error %}
            <h4 class="error" align="center">{{ error }}</h4>
        {% else %}
            <h4 align="center">Everything you want to know and most likely even
                more</h4>
        {% endif %}
        <form action="/authors" class="search_form" method="GET">
            <div class="form-group row">
                <input type="text" style="width: 96%" name="q" class="form-control"
                       placeholder="Enter query..."/>
            </div>
        </form>
    </div>
    <!--<div class="form-group text-right">-->
    <!--<input type="submit" class="btn btn-success" name=""-->
    <!--value="I'm feeling lucky"/>-->
    <!--</div>-->
</div>

{% block scripts %}
    <script type="application/javascript">
        $(document).ready(function () {
            var file_input = $("#file");
            var form = $("#search_form");
            var file_icon = $("#file_icon");
            file_input.on('change', function () {
                form.submit();
            });
            file_icon.on('click', function () {
                file_input.click();
            });
        });
    </script>
{% endblock %}