<div class="row">
    <div class="col-11">
        <form action="/search" class="search_form" method="GET">
            <div class="form-group row">
                <input type="text" name="q" class="form-control"
                       placeholder="Enter query..."/>
            </div>
        </form>
    </div>

    <div class="col-1">
        <form method="POST" id="search_form" enctype="multipart/form-data"
              action="/qbe">
            <input type="file" name="file" id="file" style="display: none;"
                   accept="application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document,.txt"
                   multiple>
            <h1><i id="file_icon" class="fa fa-file-text"
                   aria-hidden="true"></i>
            </h1>
        </form>

    </div>
    <!--<div class="form-group text-right">-->
    <!--<input type="submit" class="btn btn-success" name=""-->
    <!--value="I'm feeling lucky"/>-->
    <!--</div>-->
</div>

{% block scripts %}
    <script type="application/javascript">
        $(document).ready(function () {
            var file_input = $("#file");
            var form = $("#search_form");
            var file_icon = $("#file_icon");
            file_input.on('change', function () {
                form.submit();
            });
            file_icon.on('click', function () {
                file_input.click();
            });
        });
    </script>
{% endblock %}